In [1]:
import pandas as pd

from ddeserts.annotate import add_dvap_columns, add_has_charter_column
from ddeserts.load import load_cvap_data, load_charter_cities

In [2]:
# read in list of charter cities
charter_cities = load_charter_cities()

In [3]:
# load the data
pre_filter = lambda line: ('California' in line and 'Total' in line)
filter = lambda row: (row['state'] == 'California' and 
                      row['geotype'] != 'cdp' and
                      row['lnnumber'] == 1)

df = load_cvap_data('Place', pre_filter=pre_filter, filter=filter)

In [4]:
# add extra columns
add_dvap_columns(df)
add_has_charter_column(df, charter_cities)

                                   geoname lntitle           geoid  lnnumber  \
table line
Place 25130      Adelanto city, California   Total  16000US0600296         1
      25156  Agoura Hills city, California   Total  16000US0600394         1
      25221       Alameda city, California   Total  16000US0600562         1
      25247        Albany city, California   Total  16000US0600674         1
      25286      Alhambra city, California   Total  16000US0600884         1
...                                    ...     ...             ...       ...
      44786    Yountville city, California   Total  16000US0686930         1
      44799         Yreka city, California   Total  16000US0686944         1
      44812     Yuba City city, California   Total  16000US0686972         1
      44825       Yucaipa city, California   Total  16000US0687042         1
      44838  Yucca Valley town, California   Total  16000US0687056         1

             tot_est  tot_moe  adu_est  adu_moe  cit_est  cit_moe  cvap_est  \
table line
Place 25130    33660       33    21995      653    29610      532     18090
      25156    20535       54    16140      393    19320      468     15050
      25221    78520       53    62565      524    72155      810     56575
      25247    19805       30    14665      241    16290      629     11605
      25286    84645      120    70315      496    69830      975     56645
...              ...      ...      ...      ...      ...      ...       ...
      44786     2985       20     2760       81     2940       41      2715
      44799     7560       81     5660      180     7500      107      5595
      44812    66515       54    49455      404    58480      771     41890
      44825    53415       55    40175      646    50875      470     37700
      44838    21620       27    16730      502    21165      199     16275

             cvap_moe       state          name geotype  dvap_est  dvap_moe  \
table line
Place 25130       794  California      Adelanto    city      3905      1029
      25156       497  California  Agoura Hills    city      1090       634
      25221       831  California       Alameda    city      5990       983
      25247       538  California        Albany    city      3060       590
      25286       928  California      Alhambra    city     13670      1053
...               ...         ...           ...     ...       ...       ...
      44786        88  California    Yountville    city        45       120
      44799       181  California         Yreka    city        65       256
      44812       736  California     Yuba City    city      7565       840
      44825       769  California       Yucaipa    city      2475      1005
      44838       568  California  Yucca Valley    town       455       759

             dvap_pct  dvap_pct_moe  has_charter
table line
Place 25130  0.177540      0.053647         True
      25156  0.067534      0.041947        False
      25221  0.095740      0.016653         True
      25247  0.208660      0.044390         True
      25286  0.194411      0.016463         True
...               ...           ...          ...
      44786  0.016304      0.045286        False
      44799  0.011484      0.047093        False
      44812  0.152967      0.018385        False
      44825  0.061605      0.026431        False
      44838  0.027197      0.047612        False

[482 rows x 20 columns]

In [5]:
df.to_csv('output/ca-cities.csv')