In [1]:
import pandas as pd

from ddeserts.annotate import add_all_stat_columns
from ddeserts.annotate import add_geo_columns
from ddeserts.annotate import with_columns_sorted
from ddeserts.load import load_cvap_data
from ddeserts.load import load_charter_cities

In [2]:
# load the data
pre_filter = lambda line: ('California' in line and 'CDP' not in line)

df = load_cvap_data('Place', pre_filter=pre_filter)
len(df)

485

In [3]:
# add geo columns and post-filter
add_geo_columns(df)
df = df[(df['state'] == 'California') & df['geotype'].isin(['city', 'town'])]
len(df)

482

In [4]:
# add charter city data
charter_cities = load_charter_cities()
df['hascharter'] = df['name'].isin(charter_cities)

In [5]:
# add stat columns and sort
add_all_stat_columns(df)
df = with_columns_sorted(df)
df

                      geoid                        geoname geotype  \
table line
Place 25130  16000US0600296      Adelanto city, California    city
      25156  16000US0600394  Agoura Hills city, California    city
      25221  16000US0600562       Alameda city, California    city
      25247  16000US0600674        Albany city, California    city
      25286  16000US0600884      Alhambra city, California    city
...                     ...                            ...     ...
      44786  16000US0686930    Yountville city, California    city
      44799  16000US0686944         Yreka city, California    city
      44812  16000US0686972     Yuba City city, California    city
      44825  16000US0687042       Yucaipa city, California    city
      44838  16000US0687056  Yucca Valley town, California    town

             hascharter          name       state  adu_est  adu_moe  cit_est  \
table line
Place 25130        True      Adelanto  California    21995      653    29610
      25156       False  Agoura Hills  California    16140      393    19320
      25221        True       Alameda  California    62565      524    72155
      25247        True        Albany  California    14665      241    16290
      25286        True      Alhambra  California    70315      496    69830
...                 ...           ...         ...      ...      ...      ...
      44786       False    Yountville  California     2760       81     2940
      44799       False         Yreka  California     5660      180     7500
      44812       False     Yuba City  California    49455      404    58480
      44825       False       Yucaipa  California    40175      646    50875
      44838       False  Yucca Valley  California    16730      502    21165

             cit_moe  ...  prop_his_adu_dvap_est  prop_his_adu_dvap_moe  \
table line            ...
Place 25130      532  ...               0.265078               0.042080
      25156      468  ...               0.243333               0.118992
      25221      810  ...               0.152388               0.041287
      25247      629  ...               0.281013               0.093256
      25286      975  ...               0.149142               0.019888
...              ...  ...                    ...                    ...
      44786       41  ...               0.041667               0.099185
      44799      107  ...               0.067308               0.100572
      44812      771  ...               0.344544               0.037790
      44825      470  ...               0.142425               0.042594
      44838      199  ...               0.100149               0.066995

             prop_ind_adu_dvap_est  prop_ind_adu_dvap_moe  \
table line
Place 25130               0.000000               0.000000
      25156               0.000000              23.000000
      25221               0.000000               0.000000
      25247               0.000000               0.000000
      25286               0.040816               0.133889
...                            ...                    ...
      44786               0.000000               0.000000
      44799               0.000000               0.000000
      44812               0.000000               0.000000
      44825               0.062500               0.282738
      44838               0.000000               0.000000

             prop_oth_adu_dvap_est  prop_oth_adu_dvap_moe  \
table line
Place 25130               0.000000               1.316976
      25156               0.030769               0.733521
      25221               0.055666               0.221985
      25247               0.045045               0.711480
      25286               0.038217               1.091934
...                            ...                    ...
      44786               0.000000               0.400780
      44799               0.000000               0.000000
      44812               0.064789               0.443142
      44825               0.000000               0.461417
      44838               0.000000               0.678692

             prop_pac_adu_dvap_est  prop_pac_adu_dvap_moe  \
table line
Place 25130               0.166667               0.755453
      25156               0.000000              23.000000
      25221               0.125000               0.225924
      25247               0.000000               0.000000
      25286               0.192308               0.498896
...                            ...                    ...
      44786               0.000000              12.000000
      44799               0.000000               0.000000
      44812               0.108696               0.141410
      44825               0.000000               0.000000
      44838               0.000000               0.000000

             prop_wht_adu_dvap_est  prop_wht_adu_dvap_moe
table line
Place 25130               0.014876               0.028688
      25156               0.034962               0.009789
      25221               0.046754               0.010674
      25247               0.063328               0.031071
      25286               0.034757               0.020061
...                            ...                    ...
      44786               0.016355               0.016581
      44799               0.005721               0.004546
      44812               0.008301               0.008530
      44825               0.011317               0.006976
      44838               0.008304               0.010016

[482 rows x 188 columns]

In [6]:
df.to_csv('output/ca-cities.csv')

In [7]:
dg = df[['name', 'hascharter', 'racial_disp_score_est', 'racial_disp_score_moe', 'racial_disp_his_est', 'racial_disp_his_moe']]
dg[dg['hascharter']].sort_values(by=['racial_disp_his_est'])[:30]

                           name  hascharter  racial_disp_score_est  \
table line
Place 33788           King City        True              18.525080
      40860          San Rafael        True              14.031275
      40340             Salinas        True              13.415319
      40990         Santa Maria        True              13.411184
      40522           Sand City        True              11.536708
      39742            Richmond        True              11.341280
      28900             Compton        True              11.282848
      34984             Lindsay        True              10.212312
      43928         Watsonville        True              10.163313
      25546             Anaheim        True               9.878711
      41354             Shafter        True               9.674508
      33268           Inglewood        True              10.094704
      29732  Desert Hot Springs        True               9.783682
      37233                Napa        True               9.765609
      40899           Santa Ana        True               9.331430
      39651        Redwood City        True              10.739218
      40912       Santa Barbara        True               9.177350
      35400         Los Angeles        True               9.245349
      41042          Santa Rosa        True               9.141798
      39157         Porterville        True               8.059844
      40756          San Marcos        True               8.281746
      37740             Oakland        True               8.169022
      43148              Tulare        True               7.330627
      30915              Exeter        True               7.230165
      36284              Merced        True               6.749168
      25130            Adelanto        True               7.301530
      40457      San Bernardino        True               7.155974
      43720               Vista        True               7.019546
      35309          Long Beach        True               6.810683
      40795           San Mateo        True               8.621668

             racial_disp_score_moe  racial_disp_his_est  racial_disp_his_moe
table line
Place 33788               9.712993            -0.185251             0.094056
      40860               2.603788            -0.134411             0.021228
      40340               1.842972            -0.134153             0.018401
      40990               2.381096            -0.134112             0.023734
      40522              28.023979            -0.115367             0.208319
      39742               2.839152            -0.113413             0.021351
      28900               2.230144            -0.112620             0.021225
      34984               7.410926            -0.102123             0.072090
      43928               3.198847            -0.101633             0.030838
      25546               1.293892            -0.098787             0.012884
      41354               4.993134            -0.096745             0.049027
      33268               2.437509            -0.096371             0.022899
      29732               5.936889            -0.094919             0.054517
      37233               1.841505            -0.093939             0.016981
      40899               1.322774            -0.093314             0.013187
      39651               2.545180            -0.088934             0.020663
      40912               1.836005            -0.085192             0.016209
      35400               0.351000            -0.084399             0.002979
      41042               1.583320            -0.080334             0.013611
      39157               3.748226            -0.079973             0.032854
      40756               2.817985            -0.077902             0.020603
      37740               1.028784            -0.072734             0.007043
      43148               3.660057            -0.072679             0.034181
      30915               8.191864            -0.072302             0.071791
      36284               2.801989            -0.067492             0.022615
      25130               4.976586            -0.066996             0.046339
      40457               1.660628            -0.066157             0.014902
      43720               2.887682            -0.064779             0.025396
      35309               1.075847            -0.062910             0.008238
      40795               2.597687            -0.058095             0.018878

In [8]:
dg = df[['name', 'hascharter', 'racial_disp_score_est', 'racial_disp_score_moe', 'racial_disp_asn_est', 'racial_disp_asn_moe']]
dg[dg['hascharter']].sort_values(by=['racial_disp_asn_est'])[:30]

                      name  hascharter  racial_disp_score_est  \
table line
Place 42407      Sunnyvale        True              13.343859
      40925    Santa Clara        True              11.707320
      25247         Albany        True               9.845989
      33346         Irvine        True               8.173348
      40873      San Ramon        True               8.128540
      37077  Mountain View        True              12.344362
      43005       Torrance        True               6.287712
      25702        Arcadia        True               5.906080
      29407        Cypress        True               6.013816
      26443       Berkeley        True               5.553265
      38260      Palo Alto        True               5.475601
      31253         Folsom        True               5.290007
      25286       Alhambra        True               4.481149
      28198       Cerritos        True               3.496952
      40665       San Jose        True               6.146760
      40795      San Mateo        True               8.621668
      38442       Pasadena        True               7.254223
      27249        Burbank        True               3.159567
      40704    San Leandro        True               5.871742
      35348   Los Alamitos        True               3.290339
      25221        Alameda        True               3.094760
      35192     Loma Linda        True               3.287591
      40535      San Diego        True               6.206068
      40951     Santa Cruz        True               5.370716
      29342    Culver City        True               4.692228
      42706    Temple City        True               3.620649
      40587  San Francisco        True               3.920567
      39651   Redwood City        True              10.739218
      40158      Roseville        True               2.749805
      27223     Buena Park        True               6.565256

             racial_disp_score_moe  racial_disp_asn_est  racial_disp_asn_moe
table line
Place 42407               2.457469            -0.127184             0.018876
      40925               2.012832            -0.115677             0.017798
      25247               5.412620            -0.086147             0.037046
      33346               1.579033            -0.081733             0.015413
      40873               2.275047            -0.081285             0.020740
      37077               2.776812            -0.075435             0.020862
      43005               1.810476            -0.062877             0.013989
      25702               3.472709            -0.059061             0.032495
      29407               3.778045            -0.053302             0.025908
      26443               1.701762            -0.051543             0.013024
      38260               2.469010            -0.050138             0.021149
      31253               1.872790            -0.049376             0.013745
      25286               2.167981            -0.044811             0.021073
      28198               3.352037            -0.034970             0.026955
      40665               0.697897            -0.030903             0.005100
      40795               2.597687            -0.027893             0.016137
      38442               2.060943            -0.027117             0.012387
      27249               2.446836            -0.026942             0.013880
      40704               3.013578            -0.026163             0.022022
      35348               6.691897            -0.024667             0.033375
      25221               2.608531            -0.023694             0.019910
      35192               8.696817            -0.023642             0.051195
      40535               0.599686            -0.023313             0.003730
      40951               2.175596            -0.022747             0.010359
      29342               3.881431            -0.022726             0.023834
      42706               4.290902            -0.022329             0.032230
      40587               0.372279            -0.019892             0.002980
      39651               2.545180            -0.018458             0.013811
      40158               1.594980            -0.018436             0.009031
      27223               4.135507            -0.018096             0.031370

In [9]:
dg = df[['name', 'hascharter', 'racial_disp_score_est', 'racial_disp_score_moe', 'racial_disp_wht_est', 'racial_disp_wht_moe']]
dg[dg['hascharter']].sort_values(by=['racial_disp_wht_est'], ascending=False)[:30]

                           name  hascharter  racial_disp_score_est  \
table line
Place 33788           King City        True              18.525080
      40860          San Rafael        True              14.031275
      42407           Sunnyvale        True              13.343859
      40990         Santa Maria        True              13.411184
      37077       Mountain View        True              12.344362
      40340             Salinas        True              13.415319
      39651        Redwood City        True              10.739218
      40925         Santa Clara        True              11.707320
      37233                Napa        True               9.765609
      40522           Sand City        True              11.536708
      41042          Santa Rosa        True               9.141798
      43928         Watsonville        True              10.163313
      40912       Santa Barbara        True               9.177350
      25247              Albany        True               9.845989
      34984             Lindsay        True              10.212312
      41354             Shafter        True               9.674508
      25546             Anaheim        True               9.878711
      40795           San Mateo        True               8.621668
      39157         Porterville        True               8.059844
      40756          San Marcos        True               8.281746
      29732  Desert Hot Springs        True               9.783682
      40873           San Ramon        True               8.128540
      30915              Exeter        True               7.230165
      35400         Los Angeles        True               9.245349
      43720               Vista        True               7.019546
      33346              Irvine        True               8.173348
      38624            Petaluma        True               6.485483
      43148              Tulare        True               7.330627
      31890              Gilroy        True               6.703483
      27223          Buena Park        True               6.565256

             racial_disp_score_moe  racial_disp_wht_est  racial_disp_wht_moe
table line
Place 33788               9.712993             0.153601             0.069490
      40860               2.603788             0.131725             0.022289
      42407               2.457469             0.116974             0.019006
      40990               2.381096             0.110709             0.022493
      37077               2.776812             0.110376             0.023463
      40340               1.842972             0.098253             0.015408
      39651               2.545180             0.097394             0.023441
      40925               2.012832             0.093330             0.019340
      37233               1.841505             0.093065             0.013965
      40522              28.023979             0.089831             0.230172
      41042               1.583320             0.087561             0.014040
      43928               3.198847             0.087034             0.030483
      40912               1.836005             0.086687             0.017991
      25247               5.412620             0.085032             0.043677
      34984               7.410926             0.084473             0.056633
      41354               4.993134             0.079566             0.029757
      25546               1.293892             0.077230             0.011862
      40795               2.597687             0.076366             0.015018
      39157               3.748226             0.073077             0.035343
      40756               2.817985             0.072621             0.025199
      29732               5.936889             0.071871             0.050066
      40873               2.275047             0.067986             0.021671
      30915               8.191864             0.064927             0.073202
      35400               0.351000             0.064638             0.002155
      43720               2.887682             0.063821             0.023598
      33346               1.579033             0.062509             0.015329
      38624               2.448676             0.062127             0.022321
      43148               3.660057             0.061919             0.029576
      31890               3.243237             0.061505             0.034951
      27223               4.135507             0.054729             0.023624

In [11]:
dg = df[df['name'] == 'King City']
dg[['prop_adu_his_est', 'prop_adu_his_moe', 'prop_dvap_his_est', 'prop_dvap_his_moe', 
    'prop_adu_dvap_est', 'prop_adu_dvap_moe', 'prop_his_adu_dvap_est', 'prop_his_adu_dvap_moe', 
    'adu_est', 'cvap_est', 'his_adu_est', 'his_adu_moe', 'his_cvap_est', 'his_cvap_moe']]

,,prop_adu_his_est,prop_adu_his_moe,prop_dvap_his_est,prop_dvap_his_moe,prop_adu_dvap_est,prop_adu_dvap_moe,prop_his_adu_dvap_est,prop_his_adu_dvap_moe,adu_est,cvap_est,his_adu_est,his_adu_moe,his_cvap_est,his_cvap_moe
table,line,,,,,,,,,,,,,,
Place,33788,0.852353,0.028391,0.98338,0.022062,0.585722,0.053794,0.675761,0.055342,9245,3830,7880,469,2555,461