In [1]:
import pandas as pd

from ddeserts.annotate import add_dvap_columns, add_has_charter_column
from ddeserts.load import load_cvap_data, load_charter_cities

In [2]:
# read in list of charter cities
charter_cities = load_charter_cities()

In [3]:
# load the data
places_path = 'data/census/CVAP_2015-2019_ACS_csv_files/Place.csv'

pre_filter = lambda line: ('California' in line and 'Total' in line)
filter = lambda row: (row['state'] == 'California' and 
                      row['geotype'] != 'cdp' and
                      row['lnnumber'] == 1)

df = load_cvap_data('Place', pre_filter=pre_filter, filter=filter)

In [4]:
# add extra columns
add_dvap_columns(df)
add_has_charter_column(df, charter_cities)

                                   geoname lntitle           geoid  lnnumber  \
table line
Place 25130      Adelanto city, California   Total  16000US0600296         1
      25156  Agoura Hills city, California   Total  16000US0600394         1
      25221       Alameda city, California   Total  16000US0600562         1
      25247        Albany city, California   Total  16000US0600674         1
      25286      Alhambra city, California   Total  16000US0600884         1
...                                    ...     ...             ...       ...
      44786    Yountville city, California   Total  16000US0686930         1
      44799         Yreka city, California   Total  16000US0686944         1
      44812     Yuba City city, California   Total  16000US0686972         1
      44825       Yucaipa city, California   Total  16000US0687042         1
      44838  Yucca Valley town, California   Total  16000US0687056         1

             tot_est  tot_moe  adu_est  adu_moe  cit_est  cit_moe  cvap_est  \
table line
Place 25130    33660       33    21995      653    29610      532     18090
      25156    20535       54    16140      393    19320      468     15050
      25221    78520       53    62565      524    72155      810     56575
      25247    19805       30    14665      241    16290      629     11605
      25286    84645      120    70315      496    69830      975     56645
...              ...      ...      ...      ...      ...      ...       ...
      44786     2985       20     2760       81     2940       41      2715
      44799     7560       81     5660      180     7500      107      5595
      44812    66515       54    49455      404    58480      771     41890
      44825    53415       55    40175      646    50875      470     37700
      44838    21620       27    16730      502    21165      199     16275

             cvap_moe       state          name geotype  dvap_est  dvap_moe  \
table line
Place 25130       794  California      Adelanto    city      3905      1029
      25156       497  California  Agoura Hills    city      1090       634
      25221       831  California       Alameda    city      5990       983
      25247       538  California        Albany    city      3060       590
      25286       928  California      Alhambra    city     13670      1053
...               ...         ...           ...     ...       ...       ...
      44786        88  California    Yountville    city        45       120
      44799       181  California         Yreka    city        65       256
      44812       736  California     Yuba City    city      7565       840
      44825       769  California       Yucaipa    city      2475      1005
      44838       568  California  Yucca Valley    town       455       759

             dvap_pct  dvap_pct_moe  has_charter
table line
Place 25130  0.177540      0.053647         True
      25156  0.067534      0.041947        False
      25221  0.095740      0.016653         True
      25247  0.208660      0.044390         True
      25286  0.194411      0.016463         True
...               ...           ...          ...
      44786  0.016304      0.045286        False
      44799  0.011484      0.047093        False
      44812  0.152967      0.018385        False
      44825  0.061605      0.026431        False
      44838  0.027197      0.047612        False

[482 rows x 20 columns]

In [5]:
dvap = df.loc[df['has_charter']][
    ['name', 'adu_est', 'adu_moe', 'dvap_est', 'dvap_moe', 'dvap_pct', 'dvap_pct_moe']].sort_values('dvap_pct')
dvap[-30:]

                           name  adu_est  adu_moe  dvap_est  dvap_moe  \
table line
Place 27223          Buena Park    64245      807     12855      1368
      29732  Desert Hot Springs    21440      700      4350      1173
      31903            Glendale   164850      999     33510      2044
      40860          San Rafael    45835      474      9335       938
      30499           El Centro    31050      557      6325       936
      33268           Inglewood    83810     1049     17150      1667
      40665            San Jose   797090     1566    164515      4078
      25247              Albany    14665      241      3060       590
      40795           San Mateo    82505      817     17400      1420
      32618             Hayward   125155      887     27275      1738
      33346              Irvine   212955     1454     47620      3036
      35400         Los Angeles  3145520     3613    728480      8499
      39651        Redwood City    67430      749     15885      1422
      39742            Richmond    85930      921     20620      1923
      39105              Pomona   114115      947     27900      1724
      25546             Anaheim   265820     1596     66135      3423
      28900             Compton    68500      942     17275      1551
      44630            Woodlake     4855      259      1355       439
      29849              Dinuba    15740      414      4445       697
      40925         Santa Clara   102390      787     29365      1797
      37077       Mountain View    65625      660     19675      1403
      41354             Shafter    12995      398      4220       713
      43928         Watsonville    37495      622     12470      1204
      40899           Santa Ana   243370     1502     83035      2932
      26287                Bell    25885      610      8925       917
      42407           Sunnyvale   120715      822     42505      1930
      40990         Santa Maria    72750      872     26085      1627
      40340             Salinas   107810      882     42475      1842
      34984             Lindsay     8950      457      3665       674
      33788           King City     9245      456      5415       701

             dvap_pct  dvap_pct_moe
table line
Place 27223  0.200093      0.024110
      29732  0.202892      0.063405
      31903  0.203276      0.013714
      40860  0.203665      0.022807
      30499  0.203704      0.034417
      33268  0.204630      0.022736
      40665  0.206395      0.005532
      25247  0.208660      0.044390
      40795  0.210896      0.019492
      32618  0.217930      0.015541
      33346  0.223615      0.015892
      35400  0.231593      0.002971
      39651  0.235578      0.023972
      39742  0.239963      0.025221
      39105  0.244490      0.017280
      25546  0.248796      0.014458
      28900  0.252190      0.026474
      44630  0.279094      0.111246
      29849  0.282402      0.053107
      40925  0.286796      0.019908
      37077  0.299810      0.024642
      41354  0.324740      0.066861
      43928  0.332578      0.038263
      40899  0.341188      0.014241
      26287  0.344794      0.044602
      42407  0.352110      0.018512
      40990  0.358557      0.026985
      40340  0.393980      0.020476
      34984  0.409497      0.101394
      33788  0.585722      0.110148

In [6]:
dvap = df.loc[df['has_charter']][
    ['name', 'adu_est', 'adu_moe', 'dvap_est', 'dvap_moe', 'dvap_pct', 'dvap_pct_moe']].sort_values('dvap_est')
dvap[-30:]

                       name  adu_est  adu_moe  dvap_est  dvap_moe  dvap_pct  \
table line
Place 28900         Compton    68500      942     17275      1551  0.252190
      40795       San Mateo    82505      817     17400      1420  0.210896
      36583         Modesto   158385     1042     17825      1798  0.112542
      37077   Mountain View    65625      660     19675      1403  0.299810
      38442        Pasadena   115505      864     19685      1731  0.170426
      41042      Santa Rosa   140870      836     20410      1779  0.144885
      39742        Richmond    85930      921     20620      1923  0.239963
      40990     Santa Maria    72750      872     26085      1627  0.358557
      32618         Hayward   125155      887     27275      1738  0.217930
      39105          Pomona   114115      947     27900      1724  0.244490
      40457  San Bernardino   152070     1556     28590      2558  0.188006
      40925     Santa Clara   102390      787     29365      1797  0.286796
      31903        Glendale   164850      999     33510      2044  0.203276
      39937       Riverside   248645     1714     35775      2635  0.143880
      26040     Bakersfield   264830     1753     36715      2963  0.138636
      42199        Stockton   223645     1052     36910      2403  0.165038
      28432     Chula Vista   200870     1391     37005      2888  0.184224
      40340         Salinas   107810      882     42475      1842  0.393980
      42407       Sunnyvale   120715      822     42505      1930  0.352110
      40301      Sacramento   385200     1454     44720      2563  0.116096
      33346          Irvine   212955     1454     47620      3036  0.223615
      31617          Fresno   375795     1548     52895      3111  0.140755
      35309      Long Beach   362340     1852     54060      3234  0.149197
      37740         Oakland   340625     1274     55755      2591  0.163684
      25546         Anaheim   265820     1596     66135      3423  0.248796
      40899       Santa Ana   243370     1502     83035      2932  0.341188
      40587   San Francisco   757415        0    104965      2317  0.138583
      40535       San Diego  1129095     2591    157595      5312  0.139576
      40665        San Jose   797090     1566    164515      4078  0.206395
      35400     Los Angeles  3145520     3613    728480      8499  0.231593

             dvap_pct_moe
table line
Place 28900      0.026474
      40795      0.019492
      36583      0.012173
      37077      0.024642
      38442      0.016384
      41042      0.013569
      39742      0.025221
      40990      0.026985
      32618      0.015541
      39105      0.017280
      40457      0.018939
      40925      0.019908
      31903      0.013714
      39937      0.011670
      26040      0.012187
      42199      0.011575
      28432      0.015762
      40340      0.020476
      42407      0.018512
      40301      0.007119
      33346      0.015892
      31617      0.008895
      35309      0.009738
      37740      0.008250
      25546      0.014458
      40899      0.014241
      40587      0.003059
      40535      0.005037
      40665      0.005532
      35400      0.002971

In [9]:
df.to_csv('output/ca_cities.csv')

In [10]:
df['lnnumber']

table  line
Place  25130    1
       25156    1
       25221    1
       25247    1
       25286    1
               ..
       44786    1
       44799    1
       44812    1
       44825    1
       44838    1
Name: lnnumber, Length: 482, dtype: int64